@import 'tailwindcss';

:root {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overscroll-behavior: none;
}

div[data-tauri-decorum-tb] {
	height: 10px !important;
}

@keyframes launch-app-ping {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	75%,
	100% {
		transform: scale(3);
		opacity: 0;
	}
}
